@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,700&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --red: #ff3838;
  --border-color: rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem var(--border-color);
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

.heading span {
  color: var(--red);
}

.header__logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

.header__logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

.header__navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #666;
}

.header__navbar a:hover {
  color: var(--red);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.1);
  border: 1 rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

/* HOME SECTION */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url("../images/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home__content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home__image {
  flex: 1 1 40rem;
}

.home__image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0% 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home__content h3 {
  font-size: 5rem;
  color: #333;
}

.home__content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

/* SPECIALITY */
.speciality__box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 100%;
  left: 0;
}

.speciality__content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality__content img {
  margin: 1.5rem;
}

.speciality__content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality__content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.speciality__box:hover .speciality__box-image {
  top: 0;
}

.speciality__box:hover .speciality__content {
  transform: translateY(-100%);
}

/* POPULAR */
.popular__box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.popular__box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular__box-price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular__box-title {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular__box-stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header__navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid var(--border-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header__navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header__navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid var(--border-color);
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
